{{- if not .Values.global.opentelemetry.disable }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-otel-collector
  labels:
    app: {{ .Release.Name }}-opentelemetry
    component: {{ .Release.Name }}-otel-collector
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-opentelemetry
      component: {{ .Release.Name }}-otel-collector
  minReadySeconds: 5
  progressDeadlineSeconds: 120
  replicas: {{ .Values.global.opentelemetry.collector.replicas }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-opentelemetry
        component: {{ .Release.Name }}-otel-collector
    spec:
      serviceAccountName: {{ .Release.Name }}-otel-collector
      containers:
      - image: {{ include "otel.collector.image" . }}
      # contributor image includes more exporters and receivers
      # original collector image: otel/opentelemetry-collector:latest
        name: otel-collector
        args:
          - "--config=/conf/otel-collector-config.yaml"
        resources:
          limits:
            cpu: 1
            memory: 2Gi
          requests:
            cpu: 200m
            memory: 400Mi
        ports:
        - containerPort: 55679 # Default endpoint for ZPages.
        - containerPort: 4317 # Default endpoint for OpenTelemetry receiver.
        - containerPort: 14250 # Default endpoint for Jaeger gRPC receiver.
        - containerPort: 14268 # Default endpoint for Jaeger HTTP receiver.
        - containerPort: 9411 # Default endpoint for Zipkin receiver.
        - containerPort: 8888  # Default endpoint for querying metrics.
        - containerPort: 13133 # Default endpoint for health checks.
        - containerPort: 8889  # Prometheus exporter endpoint.
        livenessProbe:
          httpGet:
            path: /
            port: 13133
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 13133
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
        env:
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: GOMEMLIMIT
            value: 1600MiB
{{- range .Values.global.opentelemetry.collector.backends }}
{{- if eq .kind "googlecloud" }}
          - name: GOOGLE_APPLICATION_CREDENTIALS
            valueFrom:
              secretKeyRef:
                name: {{ tpl .secretName $ }}
                key: connection-string
{{- else if eq .kind "azuremonitor" }}
          - name: AZURE_MONITOR_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: {{ tpl .secretName $ }}
                key: connection-string
{{- end }}
{{- end }}
        volumeMounts:
        - name: otel-collector-config-vol
          mountPath: /conf
#        - name: otel-collector-secrets
#          mountPath: /secrets
      volumes:
        - configMap:
            name: {{ .Release.Name }}-otel-collector-conf
            items:
              - key: otel-collector-config
                path: otel-collector-config.yaml
          name: otel-collector-config-vol
#        - secret:
#            name: otel-collector-secrets
#            items:
#              - key: cert.pem
#                path: cert.pem
#              - key: key.pem
#                path: key.pem
{{- end }}