{{- if not .Values.global.opentelemetry.disable }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-otel-collector-conf
  labels:
    app: {{ .Release.Name }}-opentelemetry
    component: {{ .Release.Name }}-otel-collector-conf
data:
  otel-collector-config: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    processors:
      memory_limiter:
        # 80% of maximum memory up to 2G
        limit_mib: 1500
        # 25% of limit up to 2G
        spike_limit_mib: 512
        check_interval: 5s
    extensions:
      zpages: {}
    exporters:
    # Debug exporter added for troubleshooting and demonstration purposes
      debug:
        verbosity: detailed
        sampling_initial: 5
        sampling_thereafter: 200
      azuremonitor:
        connection_string: "InstrumentationKey=03c29666-d159-43d9-aada-dfd05c12f17c;IngestionEndpoint=https://centralus-2.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/;ApplicationId=d85904fa-65c6-46ff-9cd2-da6c26506d49"
    service:
      extensions: [zpages]
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter]
          exporters: [debug, azuremonitor]
        metrics:
          receivers: [otlp]
          processors: [memory_limiter]
          exporters: [debug, azuremonitor]
        logs:
          receivers: [otlp]
          processors: [memory_limiter]
          exporters: [debug, azuremonitor]
{{- end }}